# environment variables used in all run modes
SERVER_PORT=3000
PUBLIC_PATH=PUBLIC
VIEW_PATH=VIEWS

# development environment variables
DB_URL_DEV=mongodb://127.0.0.1:27017/database_dev

# debug environment variables
DB_URL_DEBUG=mongodb://127.0.0.1:27017/database_debug

# testing environment variables
DB_URL_TEST=mongodb://127.0.0.1:/database_test
